#profile{
    height: 110vh;
    width: 100%;
    padding: 2%;
}

.p{
    text-align: justify;
    justify-content: center;
    display: flex;
}

.tab-titles{
    left: 0;
    justify-content: center;
    display: flex;
}

.tab-subtitle{
    font-size: 2vh;
    margin: 10px 10px;
    cursor: pointer;
    position: relative;
}

.tab-subtitle::after{
    content:'';
    width:0;
    height:2px;
    background-color: #374255;
    transition: 0.5s;
    bottom: -8px;
}

.tab-subtitle.p-active-link::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 2px; }

.tab-contents {
    display: none;
    width: 100%;
    background: radial-gradient(#778da999,white); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow to the container */
    padding: 20px; /* Add some padding for spacing */
    border-radius: 10px; /* Add rounded corners for a more container-like appearance */
    margin-top: 20px; /* Add margin to separate tabs */
}

h2{
    font-weight: bolder;
}

.tab-contents ul li{
    list-style: none;
    color: #374255;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #778da9;
}

.tab-contents.active-tab{
    display: block;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}
  
.show {
    opacity: 1;
}