#contact{
  min-height: 100vh;
  width: 100%;
  padding: 2%;
}

.contact1 {
  margin-bottom: 50px;
}

.contact2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact3{
  display: flex;
  width: 60%;
}

  /* left contact page */
.form-horizontal {
  background: radial-gradient(#778da999,white); 
  width:100%;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 8px black;
}

.form-control, textarea {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid #374255;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 2vh;
}

textarea.form-control {
  resize: vertical;
}

.send-text{
  font-weight: bolder;
}

.send-button {
  border:2px solid #778da9;
  background: linear-gradient(#778da999,white);  
  float: right;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 1px 1px 8px black;
}

  /* begin right contact */
.contact4 {
  padding: 3% 5%;
}

.list-item i {
  color: #374255;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 15px 0;
  font-size: 3vh;
}

.phone-text {
  margin: auto 15px;
}
  
.small-text{
  margin-top: 30px;
  text-align: center;
}

.social-media-list{
  display: grid;
  justify-content: center;
}

.social-media-list button {
  background: radial-gradient(white,#778da999);  
  border-radius: 100%;
  font-size: 0px;
  padding: 7px;
  margin: 0 10px;
  border: none; 
  box-shadow: 1px 1px 4px black;
}

.phone-icon i{
  font-size: 3vh;
}

.social-media-list::before,
.social-media-list::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #778da9;
  margin: 30px auto; /* Center the line vertically using auto margin */
  transform-origin: center; /* Set the transform origin to the center */
  transition: width 0.8s ease; 
}

.social-media-list:hover::before,
.social-media-list:hover::after {
  width: 100%;
}
  
.social-media-list button:hover {
  transform: scale(1.2);
  cursor: pointer; 
  transition: all .3s ease-in-out;
} 

.social-media-list button:hover::before {
  content: '' ;
  position: absolute;
  top: -5.5px; 
  left: -5.5px; 
  width: calc(100% + 12px); 
  height: calc(100% + 12px); 
  border-radius: 50%;
  border: 2px solid #778da9;
  transition: all .3s ease-in-out;
}

.copyright {
  text-align: center;
}

.success-message,
.warning-message {
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 9999;
  font-size: 20px;
  width: 500px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
}

.success-message {
  background-color: rgba(172, 255, 172, 0.801); 
  color: black; 
}

.warning-message {
  background-color: lightyellow; 
  color: #000; 
}

@media screen and (max-width: 1024px){
  .contact2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact3{
    width: 90%;
  }
}
