#main {
  font-weight: bolder;
  background: linear-gradient(to right, #ccc, #778da9);
  padding-bottom: 5px;
  background-size: 200% auto;
  border-radius: 20px;
  animation: gradientAnimation 8s linear infinite;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border: 2px solid #ececec;
}

@keyframes gradientAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.navbar-toggle {
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
  font-size: 2.5vh;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  color: #ececec;
  text-decoration: none;
  position: relative;
}

.logo {
  display: inline-block;
  padding: 5px;
  top:2px;
  left: 20px;
}

.main-nav li {
  font-size: 2vh;
  text-align: center;
  margin: 20px auto;
}

.active {
  display: block;
}

.active-link{
  background: linear-gradient(to right, #ececec, #acbbc6);
  color: #374255;
  border-radius: 20px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    transition: ease-in-out 0.3s;
  }
}