#main {
  position: fixed;
  font-weight: bolder;
  background: linear-gradient(to right, whitesmoke, #778da9,whitesmoke);
  background-size: 200% auto;
  border-radius: 20px;
  animation: gradientAnimation 8s linear infinite;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
  border: 2px solid #ececec;
  width: 100%;
  z-index: 10;
}

@keyframes gradientAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.navbar-toggle {
  cursor: pointer;
  float: right;
  margin: 7px 15px;
  text-align: center;
}

.main-nav {
  justify-self: flex-end;
  width: 100%;
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  color: #374255;
  text-decoration: none;
  position: relative;
}

.logo {
  width: 50%;
  display: inline-block;
  align-items: center;
  margin: 7px 20px;
}

.main-nav li {
  font-size: 2vh;
  text-align: center;
  margin: 20px auto;
}

.active {
  display: block;
}

.active-link{
  background-color: whitesmoke;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 5px 15px;
  transition: ease-in-out 0.3s;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;

  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }
}