@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
#intro{
  display: grid;
  min-height: 100vh;
  width: 100%;
  padding: 2%;
}

.intro-1{
  align-self: center;
}

.intro-img{
  display: grid;
  height: auto;
  width: 60%;
  align-items: center;
  justify-self: center;
}

h3{
  font-family: 'Playfair Display', serif;
	font-size: 5vh;
	font-weight: bolder;
  color: #374255;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h4{
  font-family: 'League Gothic', Arial, Helvetica, sans-serif serif;
	font-size: 3.5vh;
	font-weight: bolder;
  color: #374255;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.resume{
  border:2px solid #778da9;
  background: linear-gradient(white, #778da999);  
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px rgb(0, 0, 0, 0.8);
}

.resume:hover{
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width: 1024px){

  .sosmed-list{
    margin: 0;
  }

   .intro-img {
    width: 100%;
  }
}