/* work.css */
#work {
  min-height: 100vh;
  width: 100%;
  padding: 2%;
}

.slider {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 2% ;
}

.cards {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.w-card {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
}

.w-card img {
  background: white;
  border:2px solid #778da9;
  z-index: 1;
  margin-right: -3%;
  height: auto;
  width: 30%;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.8);
}

.card-info {
  text-align: center;
  padding: 3%;
  width: 35%;
  border-radius: 20px;
  background: linear-gradient(#778da999,white); 
  box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.8);
}

.link-button, .download-button{
  margin: 50px 10px;
  padding: 10px;
  border-radius: 30px;
  border:2px solid #778da9;
  background: linear-gradient(white, #778da999);  
  cursor: pointer;
  box-shadow: 2px 2px 7px rgb(0, 0, 0, 0.8);
}

h5 {
  font-size: 2.3vh;
  margin-top:15px;
  font-weight: bolder;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5::after{
  content: '';
  display: block;
  width: 50%;
  height: 1px;
  background-color: #374255  ;
  margin: 10px auto; /* Center the line vertically using auto margin */
  transform-origin: center; /* Set the transform origin to the center */
  transition: width 0.8s ease; 
}

.w-prev,
.w-next {
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  background: #778da9;
  color: #ececec;
  border: none;
  padding: 5px;
  margin:0;
  cursor: pointer;
  z-index: 1;
  font-size: 5vh;
  border-radius: 50px;
}

.arrow-down, .arrow-up {
  position: relative;
  text-align: center;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-description {
  font-size: 1.5vh;
  text-align: justify;
  margin: auto;
  padding: 10px;
  background-color: whitesmoke;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  width: 95%;
}

.w-card.open .card-description {
  display: block;
}

@media screen and (max-width: 820px){
  .slider{
    justify-content: center;
    margin: auto;
    align-items: center;
  }

  .w-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .cards {
    width: 85%;
  }

  .w-card img {
    margin-right: 0px;
    margin-bottom: -5%;
    max-height: auto;
    width: 70%;
  }

  .card-info {
    padding: 10% 0;
    width: 85%;
  }  

  h5 {
    font-size: 2vh;
    }
}